{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <!--HEADER: Navigation top-->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
    
            <button class="btn d-lg-none border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list icon-x"></i>
            </button>

            <a class="navbar-brand" href="/">Logo</a>

            <button class="btn d-lg-none border-0 p-0" type="button" onclick="open_sidenav()">
                <i class="bi bi-person-circle icon-x"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/#home" title="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about" title="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact" title="Contact">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if user %}
                        <a class="btn btn-sm btn-primary" href="/dashboard" title="Dashboard">
                            <i class="bi bi-speedometer2"></i>
                            <span>Dashboard</span>
                        </a>
                            <a class="btn btn-sm btn-outline-danger" href="/logout" title="Logout">Logout</a>
                        {% else %}
                            <a class="btn btn-sm btn-primary" href="/login" title="Login">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--SIDENAV-->
    <section class="bg-body-tertiary p-2" id="sideNav">
        <div class="mb-1">
            <a class="btn active border-0 d-flex flex-row align-items-center gap-2" href="/dashboard" title="Home">
                <i class="bi bi-speedometer2 icon-x"></i>
                <span>Dashboard</span>
            </a>
        </div>
        <div class="mb-1">
            <a class="btn border-0 d-flex flex-row align-items-center gap-2" href="/profile/edit" title="Edit your profile">
                <i class="bi bi-pencil-square icon-x"></i>
                <span>Manage</span>
            </a>
        </div>
        <div class="mb-1">
            <a class="btn border-0 d-flex flex-row align-items-center gap-2" href="/inbox" title="Your inbox">
                <i class="bi bi-envelope icon-x"></i>
                <span>Inbox</span>
            </a>
        </div>
        <div class="mb-1">
            <a class="btn border-0 d-flex flex-row align-items-center gap-2" href="/notifications" title="See your notifications">
                <i class="bi bi-bell icon-x"></i>
                <span>Notifications</span>
            </a>
        </div>
        <div class="mb-1">
            <a class="btn border-0 d-flex flex-row align-items-center gap-2" href="/settings" title="Settings">
                <i class="bi bi-gear icon-x"></i>
                <span>Settings</span>
            </a>
        </div>
    </section>
    <!--Overlay to close sidenav-->
    <div id="overlay" onclick="close_sidenav()"></div>

    <!--Main Content-->
    <main class="main">
        <section class="main-content">
            {% block main %}{% endblock %}
        </section>
        <aside class="aside-content">
            {% block aside %}{% endblock %}
        </aside>
    </main>

{% endblock %}