{% extends 'layout.html' %}

{% block js %}
    <script src="/static/js/register.js"></script>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <div class="p-2 mt-3 mb-3 text-center">
        <h1>Register</h1>
    </div>

    <section class="tab-content p-2 d-block m-auto w-100" style="max-width:600px;">

        <!--STEP 1: Name and username-->
        <section class="tab-pane fade show active" id="tab1" tabindex="0">
            <!--Validate First Name-->
            <div class="input-group has-validation mb-3">
                <div class="form-floating" id="fnameLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="text" class="form-control" id="fname" placeholder="First Name" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="fname">First Name</label>
                </div>
                <div class="invalid-feedback" id="fnameFeedback"></div>
            </div>

            <!--Validate Last Name-->
            <div class="input-group has-validation mb-3">
                <div class="form-floating" id="lnameLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="text" class="form-control" id="lname" placeholder="Last Name" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="fname">Last Name</label>
                </div>
                <div class="invalid-feedback" id="lnameFeedback"></div>
            </div>

            <!--Validate username-->
            <div class="input-group has-validation mb-3">
                <span class="input-group-text">@</span>
                <div class="form-floating" id="usernameLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="username">Username</label>
                </div>
                <div class="invalid-feedback" id="usernameFeedback"></div>
            </div>

            <!-- Next Button -->
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-primary w-100" style="max-width: 300px;" id="btnStep1">Next</button>
            </div>

            <div class="mb-3 text-center">
                <small class="text-body-secondary">Already have an account? <a href="/login" title="Login">login</a></small>
            </div>

            <div class="mb-3 text-center">
                <small class="text-body-secondary">by registering you agree to the <a href="/terms" title="Terms">terms and conditions</a></small>
            </div>
        </section>

        <!--STEP 2: Email and password-->
        <section class="tab-pane fade" id="tab2" tabindex="0">
            <!--Validate email-->
            <div class="input-group has-validation mb-3">
                <div class="form-floating" id="emailLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="email">Email</label>
                </div>
                <div class="invalid-feedback" id="emailFeedback"></div>
            </div>

            <!--Validate password-->
            <div class="input-group has-validation mb-3">
                <div class="form-floating" id="passwordLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="password">Password</label>
                </div>
                <div class="invalid-feedback" id="passwordFeedback"></div>
            </div>

            <!--Validate confirm password-->
            <div class="input-group has-validation mb-3">
                <div class="form-floating" id="confirmPasswordLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" autocomplete="off"> <!--Toggle is-valid and is-invalid -->
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="invalid-feedback" id="confirmPasswordFeedback"></div>
            </div>

            <!--Next and Prev Button-->
            <div class="mb-3 d-flex flex-row justify-content-between align-items-center gap-2">
                <button type="button" class="btn btn-outline-primary" style="width:45%;" onclick="go_to_step(1)">Prev</button>
                <button type="button" class="btn btn-primary" style="width:45%;" id="btnStep2">Next</button>
            </div>
        </section>

        <!--STEP 3: Verify and register-->
        <section class="tab-pane fade" id="tab3" tabindex="0">
            <div class="mb-3">
                <h1 class="display-1 text-center text-success"><i class="bi bi-envelope-check"></i></h1>
            </div>
            <div class="mb-3 text-center">
                <h5>OPT Verification</h5>
                <p class="text-body-secondary">Enter the OTP sent to</p>
                <p><strong id="sentEmail"></strong></p>
            </div>
            <!--Verify OTP-->
            <div class="input-group has-validation mb-3 m-auto" style="max-width:200px;">
                <div class="form-floating" id="otpLabel"> <!--Toggle is-valid and is-invalid -->
                    <input type="number" class="form-control" id="otp" placeholder="Verify OTP" autocomplete="off" maxlength="6"> <!--Toggle is-valid and is-invalid -->
                    <label for="otp">Verify OTP</label>
                </div>
                <div class="invalid-feedback" id="optFeedback"></div>
            </div>

            <!--Resend OTP-->
            <div class="mb-4 text-center text-body-secondary">
                <small>Didn't received the OTP? <a class="text-danger link-underline link-underline-opacity-0" style="cursor:pointer;" title="Resend OTP" onclick="go_to_step(2)">Resend OTP</a></small>
            </div>

            <!--Next and Prev Button-->
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-primary" id="btnStep3" style="width:45%;">Confirm</button>
            </div>
        </section>

    </section>

{% endblock %}